$tablet-width: 768px;
$notebook-width: 992px;
$desktop-width: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin notebook {
    @media (min-width: #{$notebook-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}