html {
  height: 100%; }

body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-family: "National-Regular", Aria, sans-serif;
  font-size: 16px;
  line-height: 21px; }

body.preload:after {
  background-color: #fff;
  visibility: visible;
  opacity: 1; }

body:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: all 0.6s ease;
  z-index: 1000;
  visibility: hidden;
  opacity: 0; }

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; }

.loader {
  visibility: hidden;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .loader-wall {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: url(images/wall.png) 100% 0 no-repeat;
    background-size: cover;
    z-index: 1;
    padding-right: 50px; }
    @media (min-height: 400px) {
      .loader-wall {
        padding-right: 15vh; } }
    @media (min-height: 460px) {
      .loader-wall {
        padding-right: 16vh; } }
    @media (min-height: 520px) {
      .loader-wall {
        padding-right: 17vh; } }
    @media (min-height: 650px) {
      .loader-wall {
        padding-right: 18vh; } }
    @media (min-height: 800px) {
      .loader-wall {
        padding-right: 19vh; } }
  .loader-logo {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    width: 450px;
    background: url(images/vg-logo-vertical.png) center center no-repeat;
    height: 240px;
    margin-left: 20px; }
  .loader-paint {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: url(images/splash-right.png) 0% 50% no-repeat;
    background-size: cover;
    z-index: 0; }
    @media (min-width: 1200px) {
      .loader-paint {
        width: 70%; } }

.loading.in .loader {
  visibility: visible; }
  .loading.in .loader-wall {
    left: 0; }
  .loading.in .loader-logo {
    top: 50%; }
  .loading.in .loader-paint {
    right: 0; }

.loading.out .loader-wall {
  left: -100%;
  transition: all 2s ease; }

.loading.out .loader-logo {
  top: -100%;
  transition: all 2s ease; }

.loading.out .loader-paint {
  right: -100%;
  transition: all 2s ease; }

.loading .main-wrapper {
  display: none; }

.content-logo img {
  display: block;
  margin: 0 auto;
  height: 170px; }

.content-title {
  text-align: center;
  text-transform: uppercase;
  margin: 25px 0 50px;
  line-height: 1;
  font-size: 45px;
  font-family: "National-Regular", Arial, Helvetica, sans-serif; }

.text-center {
  text-align: center; }

.header-paint {
  padding-top: 20%;
  background-image: url(images/horizontal-paint.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.main-header {
  position: fixed;
  top: 0;
  width: 100%; }

.main-wrapper {
  height: 100%;
  padding-top: 20%;
  padding-top: 20vh;
  box-sizing: border-box; }

.main-content {
  margin-bottom: 100px; }

.reveal {
  overflow: hidden; }
  .reveal.out .main-header {
    top: -20%;
    top: -20vh; }
  .reveal.out .main-content {
    position: absolute;
    top: 100%;
    margin-top: 20%;
    margin-top: 20vh;
    width: 100%; }
  .reveal.in .main-header {
    top: 0;
    transition: all 2s ease; }
  .reveal.in .main-content {
    position: absolute;
    top: 0;
    margin-top: 20%;
    margin-top: 20vh;
    width: 100%;
    transition: all 2s ease; }

.main-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  min-height: 1em;
  z-index: 101;
  color: #fff;
  padding: 5px 10px; }
  .main-footer-copy {
    font-size: 14px;
    float: left;
    text-transform: uppercase;
    padding: 5px 10px;
    line-height: 21px; }
  .main-footer-menu {
    float: right;
    margin: 0; }
    .main-footer-menu li {
      display: inline-block;
      text-transform: uppercase;
      padding: 5px 10px;
      line-height: 21px; }
      .main-footer-menu li a {
        color: inherit;
        text-decoration: none; }
        .main-footer-menu li a:hover {
          color: #e24467;
          transition: color 0.2s ease; }
  .main-footer:after {
    content: '';
    display: block;
    clear: fix; }

.main-copyright {
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: #b5b4b9;
  text-transform: uppercase;
  font-size: 12px; }

input,
select,
textarea {
  border: 1px solid #979797;
  border-radius: 3px;
  padding: 10px 7px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: "National-Regular", Aria, sans-serif;
  width: 100%; }
  input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder,
  select::-webkit-input-placeholder,
  select::-moz-placeholder,
  select:-ms-input-placeholder,
  select:-moz-placeholder,
  textarea::-webkit-input-placeholder,
  textarea::-moz-placeholder,
  textarea:-ms-input-placeholder,
  textarea:-moz-placeholder {
    color: #6a6b6b;
    font-family: inherit; }

textarea {
  resize: none; }

button:hover {
  cursor: pointer; }

.input-container {
  padding-top: 20px;
  margin-bottom: 15px; }

form .input-container:last-of-type {
  margin: 0; }

.input-floating-label {
  display: block;
  position: relative;
  transform: translate3d(0, 30px, 0);
  line-height: 20px;
  transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
  font-size: 14px;
  padding: 0 7px;
  pointer-events: none;
  margin-top: -20px; }
  .js-input-focused .input-floating-label,
  .js-input-has-value .input-floating-label {
    transform: none;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }

.button {
  padding: 25px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #fff; }
  .button-block {
    display: block;
    width: 100%; }
  .button-action {
    background-color: #5a4c9f; }
    .button-action:hover {
      background-color: #50448e; }
  .button-small {
    padding: 15px 40px; }
  .button-secondary {
    background-color: #9a546f; }
    .button-secondary:hover {
      background-color: #8a4b63; }

.drawer {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 300px;
  padding: 30px 35px;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column; }
  .drawer form {
    flex: 1;
    overflow: auto; }
  .drawer-title {
    color: #fff;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }
  .drawer-close {
    float: right;
    font-size: 35px;
    line-height: 1;
    color: #fff;
    border: 0;
    background: none;
    outline: none;
    position: absolute;
    top: 30px;
    right: 35px; }
    .drawer-close:hover {
      color: #fb1855; }
  .drawer-handler {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 80px;
    height: 210px; }
    .drawer-handler:hover {
      cursor: pointer; }
    .drawer-handler-text {
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      position: absolute;
      right: -25%;
      top: 65%;
      letter-spacing: 1px;
      font-size: 20px;
      font-family: "National-Regular", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: bold; }
  .drawer-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: url("images/contact-drawer-bg.png") 0 100% no-repeat;
    background-size: cover;
    padding-left: 80px; }
    .drawer-background:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 80px;
      margin-bottom: 210px;
      background-color: #fff; }
    .drawer-background:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 210px 80px 0 0;
      border-color: #fff transparent transparent transparent; }
  .drawer .error {
    font-size: 16px; }

.drawer-wrapper {
  margin-left: 80px;
  margin-right: 80px; }

.drawer-wrapper,
.drawer {
  transition: transform 0.3s ease;
  transform: translate3d(0, 0, 0); }

.drawer-active .drawer,
.drawer-active .drawer-wrapper {
  transform: translate3d(-380px, 0, 0);
  transition: transform 0.5s ease; }

/* MODAL */
.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease; }
  .modal.show {
    opacity: 1;
    visibility: visible; }
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .modal-content {
    background: url("images/contact-drawer-bg.png") center center no-repeat;
    background-size: cover;
    width: 500px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 10px;
    transform: translate(-50%, -40px);
    transition: all 0.3s ease; }
    .show .modal-content {
      transform: translate(-50%, 0); }
  .modal-body {
    padding: 30px 20px;
    text-align: center;
    color: #fff;
    font-size: 20px; }
  .modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #455167; }
