@import 'mixins.scss';

$font-heading: 'National-Regular', Arial, Helvetica, sans-serif;
// $font-body: "Futura-Medium", Aria, sans-serif;
$font-body: 'National-Regular', Aria, sans-serif;

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: $font-body;
    font-size:21px;
    line-height: 1.6;
}

body {
    &.preload:after {
        background-color: #fff;
        visibility: visible;
        opacity: 1;
    }
    &:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        transition: all 0.6s ease;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
    }
}


$hidding-speed: 2s;

.container {
    width: 100%;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}


.loader {
    visibility: hidden;
    
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &-wall {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        background: url(images/wall.png) 100% 0 no-repeat;
        background-size: cover;
        z-index: 1;
        padding-right: 50px;


        @media (min-height: 400px) {
            padding-right: 15vh;
        }
        @media (min-height: 460px) {
            padding-right: 16vh;
        }
        @media (min-height: 520px) {
            padding-right: 17vh;
        }
        @media (min-height: 650px) {
            padding-right: 18vh;
        }
        @media (min-height: 800px) {
            padding-right: 19vh;
        }

        // @media only screen and (max-height: 800px) {
        //     padding-right: 18vh;
        // }
        // @media only screen and (min-height: 800px) {
        //     padding-right: 19vh;
        // }
    }

    &-logo {
        position: fixed;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: contain;
        width: 450px;
        background: url(images/vg-logo-vertical.png) center center no-repeat;
        height: 240px;
        margin-left: 19px;
    }

    &-paint {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: url(images/splash-right.png) 0% 50% no-repeat;
        background-size: cover;
        z-index: 0;
        
        @include desktop {
            width: 70%
        }
    }
}


.loading {

    &.in .loader {
        visibility: visible;

        &-wall {
            left: 0;
        }
        &-logo {
            top: 50%;
        }
        &-paint {
            right: 0;
        }
    }

    &.out .loader {
        &-wall {
            left: -100%;
            transition: all $hidding-speed ease;
        }
        &-logo {
            top: -100%;
            transition: all $hidding-speed ease;
        }
        &-paint {
            right: -100%;
            transition: all $hidding-speed ease;
        }
    }

    .main-wrapper {
        display: none;
    }

}

.content {
    &-logo {
        img {
            display: block;
            margin: 0 auto;
            height: 170px;
        }
    }

    &-title {
        text-align: center;
        text-transform: uppercase;
        margin: 25px 0 50px;
        line-height: 1;
        font-size: 45px;
        font-family: $font-heading;
    }
}

.text {
    &-center {
        text-align: center;
    }
}

.header-paint {   
    // height: 300px;
    padding-top: 20%;
    background-image: url(images/horizontal-paint.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main {
    &-header { 
        position: fixed;
        top: 0;
        width: 100%;

    }
    &-wrapper {
        height: 100%;
        padding-top: 20%;
        padding-top: 20vh;
        box-sizing: border-box;
    }
    &-content {
        margin-bottom: 100px;
    }
}


.reveal {
    overflow: hidden;
    &.out {
        .main-header {
            top: -20%;
            top: -20vh;
        }
        .main-content {
            position: absolute;
            top: 100%;
            margin-top: 20%;
            margin-top: 20vh;
            width: 100%;
        }
    }
    &.in {
        .main-header {
            top: 0;
            transition: all $hidding-speed ease;
        }
        .main-content {
            position: absolute;
            top: 0;
            margin-top: 20%;
            margin-top: 20vh;
            width: 100%;
            transition: all $hidding-speed ease;
        }
    }
}

.main-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    min-height: 1em;
    z-index: 101;
    color: #fff;
    padding: 5px 10px;
    &-copy {
        font-size: 14px;
        float: left;
        text-transform: uppercase;
        padding: 5px 10px;
        line-height: 21px;
    }
    &-menu {
        float: right;
        margin: 0;
        li {
            display: inline-block;
            text-transform: uppercase;
            padding: 5px 10px;
            line-height: 21px;
            a {
                color: inherit;
                text-decoration: none;
                &:hover {
                    color: #e24467;
                    transition: color 0.2s ease;;
                }
            }            
        }
    }
    &:after {
        content: '';
        display: block;
        clear: fix;
    }
}

.main-copyright {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #b5b4b9;
    text-transform: uppercase;
    font-size: 12px;
}


input,
select,
textarea {
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 10px 7px;
    height: 38px;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
    font-family: $font-body;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder { 
        color: #6a6b6b;
        font-family: inherit;
    }
    width: 100%;
}
textarea {
    resize: none;
}
button {
    &:hover {
        cursor: pointer;
    }
}

.input-container {
    padding-top: 20px;
    margin-bottom: 15px;
}
form .input-container:last-of-type {
    margin: 0;
}

.input-floating-label {
    display: block;
    position: relative;
    transform: translate3d(0, 30px, 0);
    line-height: 20px;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    font-size: 14px;
    padding: 0 7px;
    pointer-events: none;
    margin-top: -20px;

    .js-input-focused &,
    .js-input-has-value & {
        transform: none;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    }
}

.button {
    padding: 25px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: #fff;
    

    &-block {        
        display: block;
        width: 100%;
    }
    &-action {
        background-color: #5a4c9f;
        &:hover {
            background-color: darken( #5a4c9f, 5%);
        }
    }
    &-small {
        padding: 15px 40px;
    }
    &-secondary {
        background-color: #9a546f;
        &:hover {
            background-color: darken( #9a546f, 5%);
        }
    }
}

$drawer-handler-height: 210px;
$drawer-handler-width: 80px;
$drawer-width: 300px;
$drawer-side-padding: 35px;
.drawer {

    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 35px;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;

    @include tablet{
        width: $drawer-width;
        box-sizing: content-box;
    }

    form {
        flex: 1;
        overflow: auto;
    }

    &-title {
        color: #fff;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0;
        text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    }
    &-close {
        float: right;
        font-size: 35px;
        line-height: 1;
        color: #fff;
        border: 0;
        background: none;
        outline: none;

        position: absolute;
        top: 30px;
        right: 35px;

        &:hover {
            color: #fb1855;
        }
    }
    &-handler {
        position: absolute;
        right: 100%;
        bottom: 0;
        width: $drawer-handler-width;
        height: $drawer-handler-height;
        &:hover {
            cursor: pointer;
        }
        &-text {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            position: absolute;
            right: -25%;
            top: 65%;
            letter-spacing: 1px;
            font-size: 20px;
            font-family: $font-heading;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    
    &-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background: url('images/contact-drawer-bg.png') 0 100% no-repeat;
        background-size: cover;
        padding-left: 80px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: $drawer-handler-width;
            margin-bottom: $drawer-handler-height;
            background-color: #fff;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $drawer-handler-height $drawer-handler-width 0 0;
            border-color: #fff transparent transparent transparent;
        }
    }

    .error{
        font-size:16px;
    }
}
.drawer-wrapper {
    margin-left: $drawer-handler-width;
    margin-right: $drawer-handler-width;
}
.drawer-wrapper,
.drawer {
    transition: transform 0.3s ease;
    transform: translate3d(0,0,0);
}
.drawer-active {
    .drawer,
    .drawer-wrapper {
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.5s ease;

        @include tablet{
            transform: translate3d(-($drawer-width+$drawer-side-padding+$drawer-side-padding), 0, 0);
        }
    }
}



/* MODAL */

.modal {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }
    &-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
    }
    &-content {
        background: url('images/contact-drawer-bg.png') center center no-repeat;
        background-size: cover;
        width: 500px;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin: 10px;
        transform: translate(-50%, -40px);
        transition: all 0.3s ease;
        .show & {            
            transform: translate(-50%, 0);
        }
    }

    &-body {
        padding: 30px 20px;
        text-align: center;
        color: #fff;
        font-size: 20px;
    }
    &-footer {
        padding: 15px;
        text-align: center;
        border-top: 1px solid #455167;
    }
}

select {
     -webkit-appearance: none;
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==);
    background-position : right center;
    background-repeat: no-repeat;
    padding-right: 1.5em;
 }