
@font-face {
  font-family: 'National-Regular';
  src: url('National-Regular.eot?#iefix') format('embedded-opentype'),  url('National-Regular.otf')  format('opentype'),
	     url('National-Regular.woff') format('woff'), url('National-Regular.ttf')  format('truetype'), url('National-Regular.svg#National-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),  url('Futura-Medium.woff') format('woff'), url('Futura-Medium.ttf')  format('truetype'), url('Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
